<!--
  ~ ================================================================================
  ~ Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.
  ~ ================================================================================
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~ ============LICENSE_END=========================================================
  ~
  -->

<configuration>

    <!-- SET ECOMP COMPONENT NAME -->
    <property scope="context" name="componentName" value="dcae-analytics-tca"/>
    <contextName>${componentName}</contextName>

    <include resource="eelf-logback.xml"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="springfox" level="INFO"/>
    <logger name="org.xnio" level="INFO"/>
    <logger name="io.undertow" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="sun.rmi" level="INFO"/>
    <logger name="org.mongodb" level="INFO"/>
    <logger name="com.jayway" level="INFO"/>

    <logger name="org.springframework.retry" level="INFO"/>
    <logger name="org.onap.dcae.analytics" level="DEBUG"/>

    <root level="DEBUG">
        <!-- required appenders -->
        <appender-ref ref="auditLogAppender"/>
        <appender-ref ref="metricLogAppender"/>
        <appender-ref ref="errorLogAppender"/>
        <appender-ref ref="debugLogAppender"/>
        <appender-ref ref="STDOUT"/>
        <!-- app properties -->
        <appender-ref ref="FILE"/>
    </root>

</configuration>
